*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{

    --main-color: #033a80;
    --bg-color: rgb(240, 243, 245);
    --text-color:rgb(9, 12, 8);
    --hover: #E9DF00;
    --big-font: 3.2rem;
    --medium-font: 1.8rem;
    --p-font: 16px;
    --span:rgba(255, 0, 0, 0.961);
    --btn-color: rgba(255, 0, 0, 0.961);
    --cream-white: rgb(237, 238, 201);
    --footer: #081921;
    --white: #fff;
    --font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;



}

body{
    background: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-family);
    padding-top: 10vh;

}

html{
    scroll-behavior: smooth;


}

::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb{
    background: #545454;
    border-radius: 50px;
}

::-webkit-scrollbar-track{
    background: #303030;
}

header{
    height: 50px;
}
nav{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10%;
    margin-bottom: 1rem;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #fff;
    width: 100%;
    z-index: 999;
    top: 0;



}

.nav-links a:hover{
    color: var(--hover);
}

.logo{
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: var(--p-font);
    margin-right: 10%;
}


.nav-links{
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    /* width: 40%; */
    margin-left: 10%;
}

.nav-links li{
    list-style: none;
    margin-right: 5%;
    font-size: var(--p-font);


}

.nav-links a{
    color: var(--text-color);
    text-decoration: none;
    letter-spacing: 2px;
    /* font-weight: 500; */
    font-size: 15px;

}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 2px;
    background-color: var(--text-color);
    margin: 6px;
    transition: all 0.5s ease;
}


@media screen and (max-width: 1180px){
    .nav-links{
        width: 50%;

    }

   }

@media screen and (max-width: 900px){

    body{
        overflow-x: hidden;

    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 40vh;
        top: 10vh;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        display: block;
        font-size: var(--p-font);
    }
    .nav-links li{
        opacity: 0;
        margin: 25px;

    }

    .nav ul:hover li a{
        color: var(--hover);
    }

    .nav ul:hover li a:not(:hover){
        color(--text-color);
        opacity: 0.3;
        filter: blur(1px);
    }

    .burger{
        display: block;
    }

    .nav-active{
        transform: translateX(0%);

    }

    .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    justify-content: center;
    gap: 1rem;
    margin: 2rem;
    width: 100%;
}

@media screen and (max-width: 600px) {

    .services-content{
        display: grid;

        width: 100%;
    }



}

.selection{
    width: 100%;
}


}


@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);

    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

/*

/* Home Page */

section{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}


.home img{
    display: inline-block;

}
section#home{

    color: var(--cream-white);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.btn{

    position: relative;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--btn-color);
    padding: 10px 15px;
    overflow: hidden;
    transition: color 1s;
    z-index: 1;
    margin-top: 1rem ;

}


.btn:hover{
    color: var(--white);
}

.btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    z-index: -1;
    width: 200%;
    height: 100%;
    background-color: var(--hover);
    transform: scaleX(0) skewX(35deg);
    transform-origin: left;
    transition: transform 1s;
}

.btn:hover::before{
    transform: scaleX(1) skewX(35deg);
}


/* Centered text */

.container{
    min-height: 100vh;
    margin: 0;
    background-color: #141414;
    margin-bottom: 5rem;

}
.centeredText {
    width: 100%;
    position: absolute;
    /* height: 10%; */
    left: 50%;
    /* padding-bottom: 1%; */
    padding-top: 65%;
    transform: translate(-50%, -50%);
    color: var(--white);
    align-items: center;
    text-align: center;


}




.centeredText span, p{
    font-weight: 500;
    font-size: var(--p-font);
    margin-bottom: 0.rem;
    margin-top: 0.3rem;

}
.centeredText h1{
    font-size: var(--big-font);
    text-transform: uppercase;
    color: var(--white);

}


/* About section */

.heading{
    text-align: center;
    margin-bottom: 2%;
    color: var(--footer);
    min-height: 25%;

}
.heading a{
    color: var(--hover);
}

.heading h2{
    font-size: var(--medium-font);
    margin-bottom: 2rem;
    width: 80%;
    margin-bottom: 5rem;
    margin-left: 10%;

}

.heading h3{
    margin-top: 5rem;
    font-size: var(--p-font);
    color: var(--span);

}



.about-container{
    /* display: grid; */
    /* grid-template-columns: repeat(2, 0.5fr); */
    /* min-height: 100%; */
    align-items: center;
    /* width: 100%; */
}


video {

    max-width: 210px;
    float: right;
    border-radius: 5px;
    margin-left: 2rem;
    box-shadow: 0 2px 5px rgba(14 55 54/ 10%);

}

.wrapper{
    margin: 5rem  auto;
    width: 80%;

}
/* .wrapper .text-box {
    padding-top: 5%;
} */

.text-box h3{
    margin-top: 5rem;
    color: var(--span);
    font-size: var(--p-font);

}
.text-box li{
    color: var(--hover);
    margin-left: 2rem;
}

.text-box p{
    color: var(--text-color);


}

.heading-section{
    position: relative;
    width: 90%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 6fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
    margin-left: 10%;

}

.heading-section p{
    text-align: center;

}


.about-text{

    margin-right: 10%;
}
.about-text p{
    font-size: var(--p-font);
    font-weight: 160px;
    /* text-align: justify; */
    /* margin-left: 20%; */
    /* text-align: left; */
    text-align: center;
    margin-left: 10%;

}

.about-text span{
    font-size: var(--p-font);
    color: var(--span);
    margin-left: 50%;
    align-content: center;
}

/* slideShow */

body {
	background-color: #f8fafc;
}

.img-container {
	padding-top: 5rem;
}

.slider-wrapper {
	position: relative;
    align-items: center;
    width: 50%;
    margin-left: 10%;
    max-height: 50%;
	margin: 0 auto;
}

.slider {
	display: flex;
	aspect-ratio: 7 / 3.5;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
    box-shadow: 0 2px 5px rgba(14 55 54/ 10%);
	border-radius: 0.5rem;
	-ms-overflow-style: none; /* Hide scrollbar IE and Edge */
	scrollbar-width: none; /* Hide scrollbar Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}


.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	/* z-index: 1; */
}

.slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}

.lookAhead{
    margin-top: 10rem;
    text-align: center;
    /* width: 80%; */
    /* margin-left: 10%; */
    margin-bottom: 5rem;
}

.lookAhead h3{
    color: var(--btn-color);
    font-size: var(--p-font);

}


/* Services section */

.services.heading h2{
    width: 80%;
    margin-left: 10%;

}

.services-content{
    display: grid;
    /* max-width: 80%; */
    /* margin-left: 10%; */
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    /* justify-content: center; */
    gap: 1rem;
    align-items: center;
    /* padding-top: 5rem; */
    padding-bottom:10%;
    padding-left: 10%;
    padding-right: 10%;


}
/* .services-box{
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-left: 2.5px solid #f00;

    box-shadow: 0 2px 5px rgba(14 55 54/ 10%);
    background-color: var(--text-color);
} */

.services-box .bx{
    padding-top: 2rem;
    font-size: var(--p-font);
    color:  rgb(142, 157, 204);
    padding-bottom: 5rem;

}

.services-box h3{
    font-size: 13px;
    margin: 0.7rem 0 0.4rem;
    color: var(--white);
    text-align: center;



}
.services.heading{
    color: var(--white);
}
/* .services{
    width: 80%;
    margin-left: 10%;

} */

.services-box:hover{

    /* background-color: var(--btn-color); */

    color: var(--btn-color);

}

.services-box{

    position: relative;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    /* background-color: var(--btn-color); */
    /* padding: 40px; */
    padding-top: 10%;
    padding-bottom: 12%;
    overflow: hidden;
    transition: color 5s ease-in;
    z-index: 1;
    text-align: center;
    border-radius: 0.2rem;

    background-color: var(--text-color);

}
.services-box::before{
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    z-index: -1;
    width: 150%;
    height: 100%;
    background-color: var(--btn-color);
    transform: scaleX(0) skewX(35deg);
    transform-origin: left;
    transition: transform 1.5s;
}



.services-box:hover::before{
    transform: scaleX(1) skewX(35deg);
}
.services-box a{
    color:  var(--btn-color);
    text-decoration: none;
    font-size: 13px;
    /* padding-bottom: 2rem; */

}



.services-box:hover a{
    color: var(--text-color);
    transition: 0.5s ease-in;

    /* font-size: var(--p-font); */


}

.services-box:hover h3{
    color: var(--white);
    transition: 0.5s ease-in;

    /* font-size: var(--p-font); */



}

.services-box .bx{
    color:  var(--text-color);
}


/* Portfolio section */


.portfolio-container{
    /* width: 90%; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 10px 10%; */
    /* margin-left: 5%; */
    width: 80%;
    margin-left: 10%;
}

.gallery img{
    width: 100%;
}

 .portfolio-container .box{

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.portfolio-container .dream{

    display: flex;
    grid-auto-flow: dense;
    flex-direction: column;
    width: 40%;

}

.portfolio-container .dream img{
    width: 100%;
    padding-bottom: 5px;
    border-radius: 4px;

}


/* Contact Section */

.contact-form{
    display: grid;
    place-items: center;
    /* margin-top:  1rem; */


}


.contact-form form{
    display: flex;
    flex-direction: column;
    width: 50%;

}

form input,form textarea{
    padding: 15px;
    border-radius: 4px;
    width: 100%;
    border: none;
    outline: none;
    background: hsla(260, 100%, 44%, 0.1);
    margin-bottom: 0.5rem;
    color: var(--text-color);
    border: 1px solid #ccc;
    border-left: 2px solid #f00;


}

form textarea{
    resize: none;
}

.contact-button{

    display: inline-block;
    background: var(--btn-color);
    color: #fff;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem ;
    border-radius: 4px;
    text-decoration: none;
    border: 1px solid #ccc;
    width: 15%;
    align-items: center;
    margin-left: 41%;
}

.contact-button:hover{
    background: var(--hover);
    text-align: center;

}



.contact-details li{
    color: var(--text-color);
    list-style: none;
}

.contact-details .icon{

    color: var(--hover);
}

.contact-details a{
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--p-font);
}

.contact-details {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    justify-content: center;
    gap: 1rem;
    align-items: center;
    /* width: 90%; */
    /* margin-left: 10%; */
    /* width: 80%; */
    /* margin-left: 10%; */
    text-align: center;
    margin-bottom: 5rem;

}


/* footer */

.footer{
    display: grid;
    place-items: center;
    background: var(--text-color);
    color: var(--p-font);
    margin-top: 4%;
    height: 10vh;
}

.footer h2{
    font-size:  1.5rem;
    margin-bottom: 1.6rem;
}

.copyright{
    background: var(--text-color);
    text-align: center;
    color: var(--cream-white);
    height: 5vh;
}

.copyright a{
    color: var(--span);
    text-decoration: none;

}