<div class="heading" id="quote">
    <h3>Get Quote</h3>
</div>


<div class="contact-form" ng-link="ng-app">

    <form action="https://sheetdb.io/api/v1/roci6sb63lkks" method="post" id="sheetdb-form">
        <label>
            <input name = "data[name]" type="text" placeholder="Your Name"  autocomplete="off" ng-model="name" required>
        </label>
        <label>
            <input autocomplete="off" name="data[email]" placeholder="Your email" required type="email">
        </label>
        <label>
            <input autocomplete="off" name="data[contactNumber]" placeholder="Contact Number" required type="text">
        </label>
        <label>
            <textarea name = "data[message]" cols="30" rows="10" placeholder="How can we help you, {{name}}?" required></textarea>
        </label>
    </form>

    <a href="#quote" class="btn">Send</a>

</div>